<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBB0hvYwqWsxFyjvmVm4K0P5Dd4BSw-nVc</string>
	<key>GCM_SENDER_ID</key>
	<string>801126208194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ramanan.Govind.Ingredii</string>
	<key>PROJECT_ID</key>
	<string>ingredii-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>ingredii-auth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801126208194:ios:08176105314112fa1b215b</string>
</dict>
</plist>